*{
	margin: 0px;
	padding: 0px;
	background-color: #ffe3d5;
}
.first{
	position: absolute;
	top: 200px;
	left: 100px;

}
.first a{
	margin: 10px;
	padding: 5px;
}
/*li{
	display: inline;
/*	margin: 20px;
	;*/

}img{
	display: inine;
	height: 250px;
	width: 300px;
	border-radius: 10px;
	transition-duration: 0.3s;
	margin: 50px;

}
img:hover{
/*	position: relative;
*/	opacity: 0.9;
	transform: translateY(-5px);
	height: 250px;
	width: 300px;
	
}
.second{
	position: absolute;
	top: 500px;
	left: 200px;

}
/*.pd1{
	display: none;
}
.first li: hover>.pd1{
	display: block;
}
.first li:hover{

}
*/
